# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Linen and towels calculator.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\unstoppable\Developing\Unity\Linen and towels calculator\.idea\.idea.Linen and towels calculator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
